*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
}

.header {
  min-height: 100px;
  background-color: #D33A2C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.menu {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
}

.menu img {
  width: 150px;
  height: 50px;
}

.menu:hover, .more {
  background-color: #A82E23;
}

.menu2:hover {
  background: none ;
}

.search {
  width: 100%;
}

.search input {
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

.ctn1 {
  border: 1px solid black;
  height: 1000px;
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
}

.chap-sec {
  border: 1px solid black;
  width: 60%;
}

.sec1 {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.img1 {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.bruno {
  width: 160px;
  height: 160px;
  border: 5px solid red;
  border-radius: 30px;
}

.write1 {
  width: 60%;
  position: relative;
  margin-left: -50px;
}

.uri {
  color: red;
  font-weight: bold;
}

.wrote {
  position: absolute;
  color: rgb(184, 183, 180);
  top: 0%;
}

.weawing {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  top: 10%;
}

.nov30 {
  position: absolute;
  font-size: 18px;
  bottom: 0%;
}

.usab {
  color: rgb(95, 94, 94);
  font-weight: bold;
}

.p-two {
  margin: 0 40px 0 40px;
}

.con {
  color: red;
  text-decoration: underline;
}

.sec2 {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.img2 {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.panin {
  width: 120px;
  height: 120px;
  border: 5px solid red;
  border-radius: 30px;
  margin-left: 60px;
}

.write2 {
  width: 70%;
  position: relative;
  margin-right: 80px;
  margin-left: 30px;
}

.uri1 {
  color: red;
  font-weight: bold;
}

.wrote1 {
  position: absolute;
  color: rgb(184, 183, 180);
  top: 10%;
  font-size: 16px;
}

.weawing1 {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  top: 20%;
}

.usab1 {
  color: rgb(95, 94, 94);
  font-weight: bold;
}

.ong-sec {
  border: 1px solid black;
  width: 30%;
}

.potato {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  background-color: #EBEDE9;
  border-radius: 15px;
}

.potato img {
  position: absolute;
  top: -130px;
  width: 250px;
  height: 250px;
}

.potato .button1 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(155, 64, 64);
  background-color: white;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 50px;
  margin-top: 120px;
}

.wr2 {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 30px;
}

.wr3 {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  margin: 30px;
}

.potato .button2 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: #19A972;
  border-radius: 12px;
  border: none;
  width: 280px;
  height: 100px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.wr4 {
  color: grey;
  font-size: 13px;
  text-align: center;
  margin:20px 30px 0 30px;
  padding-bottom: 50px;
}

.joker4 a {
  color: grey;
  font-size: 13px;
}

@media only screen and (max-width: 1245px) {
  .member {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .workshop {
    display: none;
  }
}

@media only screen and (max-width: 905px) {
  .book {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .guides {
    display: none;
  }
}

@media only screen and (max-width: 685px) {
  .article {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    justify-content: space-between;
  }