*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
}

.header {
  min-height: 100px;
  background-color: #D33A2C;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
}

.menu:hover, .more {
  background-color: #A82E23;
}

.menu2:hover {
  background: none ;
}

.search {
  width: 100%;
}

.search input {
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 20px;
  width: 100%;
}

.ctn1 {
  border: 1px solid black;
  height: 600px;
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
}

.chap-sec {
  border: 1px solid black;
  width: 60%;
}

.sec1 {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  height: 300px;
}

.img1 {
  display: flex;
  width: 30%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.bruno {
  width: 160px;
  height: 160px;
  border: 5px solid red;
  border-radius: 30px;
  /* margin-left: 45px;
  margin-top: 30%; */
}

.write1 {
  width: 60%;
  border: 1px solid black;
  position: relative;
}

.uri {
  color: red;
  font-weight: bold;
}

.wrote {
  position: absolute;
  color: rgb(184, 183, 180);
  top: 0%;
}

.weawing {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  top: 10%;
}

.nov30 {
  position: absolute;
  font-size: 18px;
  bottom: 0%;
}

.usab {
  color: rgb(95, 94, 94);
  font-weight: bold;
}

.ong-sec {
  border: 1px solid black;
  width: 30%;
}

@media only screen and (max-width: 1245px) {
  .member {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .workshop {
    display: none;
  }
}

@media only screen and (max-width: 905px) {
  .book {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .guides {
    display: none;
  }
}

@media only screen and (max-width: 685px) {
  .article {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    justify-content: space-between;
  }