*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
}

.header {
  min-height: 100px;
  background-color: #D33A2C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.menu {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
}

.menu img {
  width: 150px;
  height: 50px;
}

.menu:hover, .more {
  background-color: #A82E23;
}

.menu2:hover {
  background: none ;
}

.search {
  width: 100%;
}

.search input {
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

.ctn1 {
  height: 1000px;
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  position: relative;
}

.see-all {
  position: absolute;
  bottom: 5%;
  color: rebeccapurple;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 5px solid red;
  text-align: center;
}

.chap-sec {
  width: 60%;
}

.sec1 {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.img1 {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.bruno {
  width: 160px;
  height: 160px;
  border: 5px solid red;
  border-radius: 30px;
}

.write1 {
  width: 60%;
  position: relative;
  margin-left: -50px;
}

.uri {
  color: red;
  font-weight: bold;
}

.wrote {
  position: absolute;
  color: rgb(184, 183, 180);
  top: 0%;
}

.weawing {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  top: 10%;
}

.nov30 {
  position: absolute;
  font-size: 18px;
  bottom: 0%;
}

.usab {
  color: rgb(95, 94, 94);
  font-weight: bold;
}

.p-two {
  margin: 0 40px 0 40px;
}

.con {
  color: red;
  text-decoration: underline;
}

.sec2 {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.img2 {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.panin {
  width: 120px;
  height: 120px;
  border: 5px solid red;
  border-radius: 30px;
  margin-left: 60px;
}

.write2 {
  width: 70%;
  position: relative;
  margin-right: 80px;
  margin-left: 30px;
}

.uri1 {
  color: red;
  font-weight: bold;
}

.wrote1 {
  position: absolute;
  color: rgb(184, 183, 180);
  top: 10%;
  font-size: 16px;
}

.weawing1 {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  top: 20%;
}

.usab1 {
  color: rgb(95, 94, 94);
  font-weight: bold;
}

.ong-sec {
  width: 30%;
}

.potato {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  background-color: #EBEDE9;
  border-radius: 15px;
}

.potato img {
  position: absolute;
  top: -130px;
  width: 250px;
  height: 250px;
}

.potato .button1 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(155, 64, 64);
  background-color: white;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 50px;
  margin-top: 120px;
}

.wr2 {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 30px;
}

.wr3 {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  margin: 30px;
}

.potato .button2 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: #19A972;
  border-radius: 12px;
  border: none;
  width: 280px;
  height: 100px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.wr4 {
  color: grey;
  font-size: 13px;
  text-align: center;
  margin:20px 30px 0 30px;
  padding-bottom: 50px;
}

.wr4 a {
  color: grey;
  font-size: 13px;
}

.section {
  background-color: #f1f7ff
}

.ctn2 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.daniel {
  width: 20%;
  margin: 50px 10px;
  padding: 0 20px;
}

.daniel:hover {
  background-color: white;
}


.strelka {
  font-size: 40px;
  color: red;
}

.daniel3 {
  width: 50%;
  position: relative;
  height: 480px;
  background-color: #dbe2df;
  border-radius: 15px;
  margin-top: 130px;
}

.potato2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.potato2 img {
  position: absolute;
  top: -130px;
  width: 250px;
  height: 250px;
}

.wra {
  position: absolute;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  top: 160px;
}

.wra1 {
  position: absolute;
  font-size: 21px;
  text-align: center;
  top: 230px;
}

.btn1 {
  position: absolute;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: #19A972;
  border-radius: 12px;
  border: none;
  width: 280px;
  height: 70px;
  text-align: center;
  top: 350px;
}

.already {
  font-size: 15px;
  position: absolute;
  top: 440px;
}

.days {
  font-size: 12px;
}

.reac {
  font-weight: bold;
  font-size: 28px;
  text-decoration: underline;
}

.by {
  font-weight: bold;
  color: grey;
  text-decoration: underline;
}

.wrk {
  font-size: 19px;
  font-family: sans-serif;
}

.right {
  size: 40px;
}

.see-all2 {
  position: absolute;
  top: 99%;
  color: rebeccapurple;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 5px solid red;
  text-align: center;
}

.blue {
  position: relative;
  text-align: center;
  height: 950px;
  margin-top: 90px;
  background-image: linear-gradient( #1b71bb, #3b7fbb);
}

.june {
  color: white;
  padding-top: 60px;
  text-shadow: 1px 2px 2px #383636;
}

.wr-meet {
  width: 60%;
  margin: 0 auto;
}

.meet {
  color: white;
  font-weight: bold;
  font-size: 45px;
  text-decoration: underline #4399d9;
  text-shadow: 1px 2px 2px #383636;
}

.newbook {
  color: white;
  font-weight: bold;
  font-size: 21px;
  text-decoration: underline #4399d9;
  text-shadow: 1px 2px 2px #383636;
}

.jump {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: bold;
  color: #4399d9;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
}

.jump:hover {
  color: rgb(197, 76, 76);
}

.bird-blue1 {
  width: 750px;
  position: absolute;
  top: 500px;
  left: 20%;
}

.ctnbig {
  background-color: rgb(235, 233, 229);
}

.ctn3 {
  display: flex;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 85%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.java {
  width: 45%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 30px;  
  margin: 30px 0;
}

.guide {
  font-size: 15px;
  color: #3d3838;
}

.jvc {
  color: red;
  font-size: 45px;
  margin-top: 0;
  text-shadow: 1px 2px 2px #383636;
}

.jvc2{
  color: rgb(255, 136, 0);
  font-size: 45px;
  margin-top: 0;
  text-shadow: 1px 2px 2px #383636;
}

.jvc3 {
  color: purple;
  font-size: 45px;
  margin-top: 0;
  text-shadow: 1px 2px 2px purple;
}

.vue {
  color: #3d3838;
  margin-top: -10px;
}

.explore {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: #19A972;
  border-radius: 12px;
  border: none;
  padding: 20px 40px;
  text-align: center;
  margin-top: 25px;
}

.explore2 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(255, 136, 0);
  border-radius: 12px;
  border: none;
  padding: 20px 40px;
  text-align: center;
  margin-top: 25px;
}

.explore3 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background-color: purple;
  border-radius: 12px;
  border: none;
  padding: 20px 40px;
  text-align: center;
  margin-top: 25px;
}

.java2 {
  width: 45%;
  background-image: linear-gradient(#1b71bb 60%,#01a6c1 100%);
  border-radius: 15px;
  padding: 30px;  
  margin: 30px 0;
}

.bird-big {
  width: 510px;
  margin-left: -30px;
}

.mail {
  font-size: 40px;
  color: white;
  text-shadow: 1px 2px 2px purple;
  font-weight: bold;
}

.btn-email input{
  padding: 15px 70px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 20px;
  color: #EBEDE9;
  border: none;
}

.ever {
  color: whitesmoke;
  margin-top: -10px;
  font-size: 18.6px;
}

.wtr-aside {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 15px;
  background-color: #165f9e ;
  border-radius: 15px;
  margin-top: 15px;
  padding: 5px;
}

.see-all3 {
  color: rebeccapurple;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 5px solid red;
  text-align: center;
}
}

@media only screen and (max-width: 1245px) {
  .member {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .workshop {
    display: none;
  }
}

@media only screen and (max-width: 905px) {
  .book {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .guides {
    display: none;
  }
}

@media only screen and (max-width: 685px) {
  .article {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    justify-content: space-between;
  }